<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.middleware.web.mapper.AlumniMapper">

    <resultMap id="AlumniMap" type="Alumni">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="grade" column="grade"/>
        <result property="college" column="college"/>
        <result property="discipline" column="discipline"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
    </resultMap>
    
    <insert id="addAlumni" parameterType="Alumni">
        insert into alumni
        values(#{id},#{name},#{gender},#{grade},#{college},#{discipline},#{phone},#{email});
    </insert>

    <select id="searchById" parameterType="Integer" resultMap="AlumniMap">
        select * from alumni where id = #{id};
    </select>

    <select id="searchByGrade" parameterType="Map" resultMap="AlumniMap">
        select * from alumni
        where grade = #{grade}
        limit #{offset},#{limit};
    </select>

    <update id="alterAlumni" parameterType="Alumni">
        update alumni
        set alumni.name = #{name},
            gender = #{gender},
            grade = #{grade},
            college = #{college},
            discipline = #{discipline},
            phone = #{phone},
            email = #{email}
        where id = #{id};
    </update>

    <delete id="delete" parameterType="Integer">
        delete from alumni where id = #{id};
    </delete>

</mapper>