<!DOCTYPE HTML>
<html data-dpr="1" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>添加用户</title>
	<meta name="keywords" content="校友录系统" />
	<meta name="description" content="校友录系统" />
	<meta charset="utf-8" />
	<meta name="author" content="Jason" />
	<link rel="stylesheet" type="text/css" href="login-type.css" />
</head>
<body>

<svg aria-hidden="true" style="position: absolute; width: 0px; height: 0px; overflow:hidden;">

</svg>
<div id="login-app">
	<div class="login-app bottom-filling">

		<div>
			<div class="title-line">
						<span class="tit" style="font-size: 38px;">
							请填写相关信息
						</span>
			</div>
			<div class="login-box clearfix">
				<div class="login-div">
					<div class="form-login">
						<div id="geetest-wrap" class="input-box">


							<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
								<ul>
									<form th:action="@{/add}" method="post">
										<div class="item username status-box">
											<input type="text" name="id" value="" placeholder="id" id="reg-id" maxlength="16" autocomplete="off" class="">
											<span class="status"></span>
											<div class="text clearfix">
											</div>
										</div>

										<div class="item username status-box">
											<input type="text" name="name" value="" placeholder="姓名" id="reg-name" maxlength="16" autocomplete="off" class="">
											<span class="status"></span>
											<div class="text clearfix">
											</div>
										</div>

										<div>
											<span>性别：</span>

											<input class="form-check-input" type="radio" name="gender" value=1>
											<label class="form-check-label">男</label>

											<input class="form-check-input" type="radio" name="gender" value=0>
											<label class="form-check-label">女</label>
										</div>

										<div class="item username status-box">
											<input type="text" name="grade" value="" placeholder="年级" id="reg-grade" maxlength="16" autocomplete="off" class="">
											<span class="status"></span>
											<div class="text clearfix">
											</div>
										</div>

										<div class="item username status-box">
											<input type="text" name="college" value="" placeholder="学院" id="reg-college" maxlength="16" autocomplete="off" class="">
											<span class="status"></span>
											<div class="text clearfix">
											</div>
										</div>

										<div class="item username status-box">
											<input type="text" name="discipline" value="" placeholder="专业" id="reg-discipline" maxlength="16" autocomplete="off" class="">
											<span class="status"></span>
											<div class="text clearfix">
											</div>
										</div>

										<div class="item username status-box">
											<input type="text" name="phone" value="" placeholder="电话" id="reg-phone" maxlength="20" autocomplete="off" class="">
											<span class="status"></span>
											<div class="text clearfix">
											</div>
										</div>
										<div class="item username status-box">
											<input type="text" name="email" value="" placeholder="邮箱" id="reg-email" maxlength="45" autocomplete="off" class="">
											<span class="status"></span>
											<div class="text clearfix">
											</div>
										</div>

										</br>

										<div class="btn-box">
											<button type="submit" class="btn btn-primary" style="background-color:#66CCFF" th:text="确认添加" onclick="return sure();">确认添加</button>
											<a href="sysInfo" class="btn btn-reg">返回首页</a>
										</div>
									</form>

								</ul>
							</main>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="login-script.js"></script>
<script>
        function sure()
        {
            return confirm("确定要继续吗？");
        }
    </script>
</body>
</html>